<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_mobile_bg"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_mobile_bg"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniStage"
        tools:targetApi="31">
        <activity
            android:name=".offre.ListOffreActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--intent-filter>
                <action android:name="android.intent.action.MAIN" /-->
            <!--Peut recevoir tout intent demandant des ACTION-VIEW-->
            <!--action android:name="android.intent.action.VIEW" /-->

            <!--Permet de recevoir n'importe quel intent implicite-->
            <!--category android:name="android.intent.category.DEFAULT" /-->

            <!--Permet de recevoir tout lien vers une page web (URL).-->
            <!--category android:name="android.intent.category.BROWSABLE" /-->
            <!--data android:scheme="http"/-->
            <!--category android:name="android.intent.category.LAUNCHER" /-->
            <!--/intent-filter-->
        </activity>
        <activity android:name=".offre.UpdateOffreActivity" />
       <!--<activity android:name=".offre.ListOffreActivity" />-->
        <activity android:name=".offre.DetailOffreActivity" />
        <activity android:name=".offre.AddOffreActivity" />
        <activity android:name=".candidature.ListeCandidatsActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".candidature.ajouterCandActivity" />
        <activity android:name=".candidature.DetailsCandidatureActivity" />


    </application>

</manifest>